---
const currentYear = new Date().getFullYear();
---

<footer>
    <p>
        &copy; {currentYear} Text Cleaning & Formatting. All rights reserved. Made
        by{" "}
        <a
            href="https://vberkoz.com"
            target="_blank"
            rel="noopener noreferrer">Vasyl Berkoz</a
        >
    </p>
</footer>

<style>
    footer {
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        font-size: smaller;
    }
</style>
