<header>
    <h1>Text Cleaning & Formatting</h1>
    <p>Clean & Format Text Online</p>
</header>

<style>
    header {
        text-align: center;
    }
    p {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.75rem;
        letter-spacing: -0.025em;
        margin-top: 0.25rem;
    }
</style>
